/* This CSS will only appear in the main page. */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Electrolize&family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech+Mono&display=swap');

:root {
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 110%;
}

*
{
    box-sizing: border-box;
    max-width: 100%;
}

html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-color: black;
    background-attachment: fixed;
    color: white;
    width: 100%;
}

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    max-width: 100%;

	background-image: url("/media/site-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


h1, h2, h3, h4, nav li
{
    font-family: 'Electrolize', sans-serif;
    font-weight: 'bold';
	margin: 0;
	margin-bottom: 0.5em;
}

a
{
    color: #904aff;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    font-weight: bold;
}

h1 a 
{
    color: white;
    text-decoration: none;
}



header
{	
    text-align: center;
    width:56em;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1em;
    margin-bottom: 1em;
    margin: 0;
}

header h1
{
    display: block;
    font-size: max(min(4em, 10vw), 2em);
	font-family: 'Audiowide', cursive;
}

header h1, h3 {
    margin: 0;
    padding: 0;
}
header h3
{
    margin-top: auto;
    margin-bottom: 0.67em
}
header h1 a:hover {
    text-decoration: none;
}

nav, #content
{	
    border: 2px outset;
	border-color: rgba(127, 127, 127, 0.33);
}

nav
{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
	border-radius: 1em 1em 0 0;
    border-bottom: 0;
	max-width: 100%;
}

nav li
{
    text-align: center;
	padding: 0;
	margin: 0;
	max-width: 33%;
}

nav li a
{
    padding: 0.5em 0;
	width: 10em;
	display: block;
	text-decoration: none;
	font-family: 'Audiowide', cursive;
}

nav li a, nav li a:visited
{
	color: white;
}

ul
{
	list-style: none;
	margin: 0;
	padding-left: 1em;
}

li
{
	width: 100%;
	padding: 0;
	margin: 0;
}

table
{
	font-family: 'Share Tech Mono', monospace;
	margin: auto;
}

td
{
	text-align: right;
	padding-left: 1em;
}

td:first-child {
	text-align: left;
	padding-right: 1em;
}

img
{
	width: 20em;
	max-width: 100%;
	border-radius: 0.5em;
}

/**************** Id rules ****************/
#main-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin: 1em 0;
    padding: 1em 0;
    min-width: min(100%, 28em);
}

#content
{
    padding: 1em 2em;
    width: 100%;
    max-width: 60em;
    flex-grow: 0;
    box-sizing: border-box;
    border-radius: 2em;
    margin: 0;
}

    
footer
{
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#loader {
    border: 0.25em solid #f3f3f3; /* Light grey */
    border-top: 0.25em solid transparent; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 0.5s linear infinite;
    margin: 5em;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/**************** Class rules ****************/
.lined
{
    border-bottom: 0.15em solid white;
    display: inline-block;
}
.checkered
{
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 3em 3em;
    background-position: 0 0, 0 1.5em, 1.5em -1.5em, -1.5em 0px;
}

.vertical-bar
{
    border: 1px solid white;
    padding: 1em 0;
}

.collapsible
{
	cursor: pointer;
	margin-top: 0.2em;
	display: inline-block;
}

.profile
{
	display: block;
	border-radius: 1em;
	padding: 1em;
	margin: 0.5em 0;
	background: rgba(0, 0, 0, 0.75);
	overflow: hidden;
}

[hidden]{
	display: none;
}

.glossy
{
	background-color: rgba(0,0,0,0.5);
}

@supports ( backdrop-filter: blur(6px) ) {
    .glossy
	{
		backdrop-filter: blur(6px);
		background-color: rgba(0,0,0,0);
	}
}

.profile-info
{
	text-align: center;
}

.table-wrapper
{
	border-bottom: 1px solid white;
	display: block;
	width: 100%;
}

@media screen and (min-width: 50em)
{
	.profile-info{
		float: left;
		margin-right: 1em;
	}
}