/* This CSS will only appear in the main page. */

html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../media/sky-space-dark-galaxy.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    scrollbar-color: purple;
}
body
{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    width: 100%;
    align-items: center;
    flex-grow: 1;
}

header
{
    font-family: 'XoloniumRegular';
    font-weight: 'bold';
    padding-left: 0;
    text-align: center;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

header div
{
    margin: 0 1em;
}
header h1
{
    font-size: 4em;
}
header h1 a:hover {
    text-decoration: none;
}
nav
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    border: none;
    list-style: none;
}
nav li
{
    padding: 1em;
}

#main-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
    align-items: center;
    max-width: 100%;
    width: 60em;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) );
    margin: 1em;
}
iframe
{
    padding: 1em;
    border: none;
    border-radius: 0 0 1em 0;
}
footer
{
    padding: 1em;
}