/* This CSS will only appear in the main page. */

html
{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
body
{
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
    width: 100%;
    align-items: center;
}

header
{
    font-family: 'XoloniumRegular';
    font-weight: 'bold';
    padding-left: 0;
    text-align: center;
    width:100%;
}
nav
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    border: none;
    border-right: 1px solid #CECECE;
    list-style: none;
}
nav li
{
    padding: 1em;
}

#main-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    max-width: 100%;
}
#main
{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
}
iframe
{
    padding: 1em;
    border: none;
    flex-grow: 1;
    border-radius: 0 0 1em 0;
}
footer
{
    padding: 1em;
}

#video-container {
	position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

#video-bg-cover, #video-bg {
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	margin: auto;
	min-height: 50%;
	min-width: 50%;
}

#video-bg-cover {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.75) 0%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.75) 0%,rgba(0,0,0,1) 71%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.75) 0%,rgba(0,0,0,1) 71%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}